<div class="row">

  <div class="col">
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h2>ユーザーログイン</h2>
      </div>
      <div class=card-body>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <label>ユーザー名</label>
            <%= f.text_field :name, class:"form-control rounded-pill", placeholder:"ユーザー名" %>
          </div>
          <div class="form-group">
            <label>パスワード</label>
            <%= f.password_field :password, class:"form-control rounded-pill", placeholder:"パスワード", autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :ログインしたままにする %>
            </div>
          <% end %>
          <div class="card-text">
            <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <br>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>

  <div class="col">
  </div>

</div>