<div class="row">

	<div class="col">
	</div>

	<div class="col-8">
		<div class="card">
			<div class="card-header">
				<h4>プロフィール編集</h4>
			</div>
			<div class="card-body">
				<div class="form-group">
					<%= form_for(@user) do |f| %>
						<% if @user.errors.any? %>
						  <div id="error_explanation" class="alert alert-danger">
						    <ul>
						      <% @user.errors.full_messages.each do |message| %>
						        <li><%= message %></li>
						      <% end %>
						    </ul>
						  </div>
						<% end %>

						<div class="form-group">
						    <label for="exampleFormControlInput1">プロフィール画像</label>
							<%= f.attachment_field :image, class:"form-control-file" %>
						</div>
						<div class="form-group">
						    <label for="exampleFormControlInput1">ユーザー名</label>
							<%= f.text_field :name, class:"form-control", placeholder:"ユーザー名"%>
						</div>
						<div class="form-group">
						    <label for="exampleFormControlInput1">メールアドレス</label>
							<%= f.text_field :email, class:"form-control", placeholder:"メールアドレス"%>
						</div>
						<div class="card-text text-center">
							<%= link_to "戻る", user_path(@user), class: "btn btn-light border border-seconday"%>
							<%= f.submit "確定", class: 'btn btn-primary text-center' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
	</div>

</div>