<br>

<div class="row">
	<div class="col-1">
	</div>
	<div class="col-2">
		<% if current_user == @user %>
			<h2>マイページ</h2>
		<% end %>
		<div class="text-center">
			<%= attachment_image_tag @user, :image, class:"profile-image", fallback: "no_image_profile.jpg", size: '150x150' %>
		</div>
		<div class="card-body text-center">
			<p class="text-center"><%= @user.name %>さん</p>
			<div class="btn-group">
				<%=link_to follows_user_path(@user.id) do %>
					<button type="button" class="btn btn-light btn-sm border text-center">
						フォロー<br>
						<span class="badge badge-primary"><%= @user.active_relationships.count %></span>
					</button>
				<% end %>
				<%=link_to followers_user_path(@user.id) do %>
					<button type="button" class="btn btn-light btn-sm border">
						フォロワー<br>
						<span class="badge badge-primary"><%= @user.passive_relationships.count %></span>
					</button>
				<% end %>
			</div>
			<br>
			<div>
				<% if current_user != @user %>
				    <% if @user.followed_by?(current_user) %>
				        <%=link_to user_relationship_path(@user.id), method: :delete do %>
				        	<button class="btn btn-primary btn-block">フォロー中</button>
				        <% end %>
				    <% else %>
				        <%=link_to user_relationships_path(@user.id), method: :post do %>
							<button class="btn btn-outline-primary btn-block">フォローする</button>
				        <% end %>
				    <% end %>
				<% end %>
			</div>
		</div>
		<br>
		<% if current_user == @user %>
	    	<%=link_to"プロフィール編集", edit_user_path(@user), class:"btn btn-secondary btn-block" %>
	    <% end %>
	</div>

	<div class="col-9">
		<nav>
		  <div class="nav nav-tabs" id="nav-tab" role="tablist">
		    <a class="nav-item nav-link active text-reset border border-white" id="nav-wish-tab" data-toggle="tab" href="#nav-wish" role="tab" aria-controls="nav-wish" aria-selected="true">観たい!</a>
		    <a class="nav-item nav-link text-reset border border-white" id="nav-done-tab" data-toggle="tab" href="#nav-done" role="tab" aria-controls="nav-done" aria-selected="false">観た!</a>
		    <a class="nav-item nav-link text-reset border border-white" id="nav-mybest-tab" data-toggle="tab" href="#nav-mybest" role="tab" aria-controls="nav-mybest" aria-selected="false">Mybest!</a>
		    <a class="nav-item nav-link text-reset border border-white" id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">レビュー</a>
		  </div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
		  <div class="tab-pane fade show active" id="nav-wish" role="tabpanel" aria-labelledby="nav-wish-tab">
		  	<div class="card-columns">
				<% @wishes.each do |wish| %>
					<a href="<%= film_path(wish.film_id) %>" class="card text-reset card-hover" style="max-width: 18rem;">
						<div class="card-body">
						  	<p class="card-text text-center"><%= attachment_image_tag wish.film, :image, fallback:"no_images.png", size:'100x150' %></p>
						    <div ><%= wish.film.title %></div>
						    <p class="card-text"><%= wish.film.release %>年</p>
						</div>
					</a>
				<% end %>
			</div>
		  </div>
		  <div class="tab-pane fade" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
		  	<div class="card-columns">
				<% @dones.each do |done| %>
					<a href="<%= film_path(done.film_id) %>" class="card text-reset card-hover" style="max-width: 18rem;">
						<div class="card-body">
						  	<p class="card-text text-center"><%= attachment_image_tag done.film, :image, fallback:"no_images.png", size:'100x150' %></p>
						    <div ><%= done.film.title %></div>
						    <p class="card-text"><%= done.film.release %>年</p>
						</div>
					</a>
				<% end %>
			</div>
		  </div>
		  <div class="tab-pane fade" id="nav-mybest" role="tabpanel" aria-labelledby="nav-mybest-tab">
		  	<div class="card-columns">
				<% @mybests.each do |mybest| %>
					<a href="<%= film_path(mybest.film_id) %>" class="card text-reset card-hover" style="max-width: 18rem;">
						<div class="card-body">
						  	<p class="card-text text-center"><%= attachment_image_tag mybest.film, :image, fallback:"no_images.png", size:'100x150' %></p>
						    <div ><%= mybest.film.title %></div>
						    <p class="card-text"><%= mybest.film.release %>年</p>
						</div>
					</a>
				<% end %>
			</div>
		  </div>
		  <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
		  	<% @user.reviews.each do |review| %>
			  	<div class="mypage_review_box">
				  <div class="row no-gutters">
				    <div class="col-2">
				      <div class="card-body text-center">
				      	<%= attachment_image_tag review.film, :image, class: "item-index-jacket-image", fallback: "no_images.png", size: '100x150' %>
				      </div>
				    </div>
				    <div class="col-10">
				      <div class="card-body">
				      	<p class="card-text"><%= review.film.title %></p>
				        <h5 class="card-title"><%= review.title %></h5>
				        <p class="card-text"><%= review.star.to_f %><i id="star-rate-<%= review.id %>"></i></p>
				        <p class="card-body"><%= review.body.truncate(175) %><%= link_to "全部読む", film_review_path(review.film,review)%></p>
				        <p class="card-text"><small class="text-muted"><%= review.created_at.strftime("%Y/%m/%d") %></small></p>
				      </div>
				      <script>
					  $('#star-rate-<%= review.id %>').raty({
					    size: 36,
					    starOff:  '<%= asset_path('star-off.png') %>',
					    starOn : '<%= asset_path('star-on.png') %>',
					    starHalf: '<%= asset_path('star-half.png') %>',
					    half: true,
					    readOnly: true,
					    score: <%= review.star %>,
					  });
					</script>
				   </div>
				  </div>
				</div>
			<% end %>
		  </div>
		</div>
	</div>
</div>

<script>
	$(function(){
	    $('.card').mouseover(function(){
	        $(this).addClass('card_fadecolor');
	    });
	    $('.card').mouseout(function(){
	        $(this).removeClass('card_fadecolor');
	    });
	});
</script>