<div class="card-columns">

	<% @films.each do |film| %>
		<!-- 平均スコアの算出 -->
		<% starsum = 0 %>
		<% film.reviews.each do |review| %>
			<% review.star.to_i %>
			<% starsum += review.star.to_f %>
		<% end %>
		<% star_av = 0 %>
		<% star_av = starsum.to_f / film.reviews.count %>

		<!-- スコアが無い場合の処理 -->
		<% if star_av.to_f.nan? %>
			<% star_av = 0 %>
		<% end %>

		<a href="<%= film_path(film) %>" class="card text-reset card-hover" style="max-width: 18rem;">
			<div class="card-body">
			  	<p class="card-text text-center"><%= attachment_image_tag film, :image, class: "item-index-jacket-image", fallback: "no_images.png", size: '150x200' %></p>
			    <p><div id="star-rate-<%= film.id %>"><%= star_av %>点</div></p>
				<script>
				  $('#star-rate-<%= film.id %>').raty({
				    size: 36,
				    starOff:  '<%= asset_path('star-off.png') %>',
				    starOn : '<%= asset_path('star-on.png') %>',
				    starHalf: '<%= asset_path('star-half.png') %>',
				    half: true,
				    readOnly: true,
				    score: <%= star_av %>,
				  });
				</script>
			    <div><%= film.title %></div>
			    <p class="card-text"><%= film.release %>年</p>
			    <p class="card-text">
			    	<% film.performer_list.each do |tag| %>
						<span class="badge badge-info border"><%= tag %></span>
					<% end %>
			    </p>
			    <p class="card-text">
			    	<% film.staff_list.each do |tag| %>
						<span class="badge badge-info"><%= tag %></span>
					<% end %>
			    </p>
			    <p class="card-text">
			    	<% film.genre_list.each do |tag| %>
						<span class="badge badge-info"><%= tag %></span>
					<% end %>
			    </p>
			</div>
		</a>
		<script>
			$(function(){
			    $('.card').mouseover(function(){
			        $(this).addClass('card_fadecolor');
			    });
			    $('.card').mouseout(function(){
			        $(this).removeClass('card_fadecolor');
			    });
			});
		</script>
	<% end %>

</div>
