<div class="card-columns">

	<% @films.each do |film| %>
		<!-- 平均スコアの算出 -->
		<% starsum = 0 %>
		<% film.reviews.each do |review| %>
			<% review.star.to_i %>
			<% starsum += review.star.to_f %>
		<% end %>
		<% star_av = 0 %>
		<% star_av = starsum.to_f / film.reviews.count %>

		<!-- スコアが無い場合の処理 -->
		<% if star_av.to_f.nan? %>
			<% star_av = 0 %>
		<% end %>

		<div class="card" style="max-width: 18rem;">
			<a href="<%= film_path(film) %>" class="card-body text-reset">
			  	<p class="text-center"><%= attachment_image_tag film, :image, class: "item-index-jacket-image", fallback: "no_images.png", size: '150x200' %>
			  	</p>
			    <div class="text-center"><%= star_av.to_f %><i id="star-rate-<%= film.id %>"></i></div>
				<script>
				  $('#star-rate-<%= film.id %>').raty({
				    size: 36,
				    starOff:  '<%= asset_path('star-off.png') %>',
				    starOn : '<%= asset_path('star-on.png') %>',
				    starHalf: '<%= asset_path('star-half.png') %>',
				    half: true,
				    readOnly: true,
				    score: <%= star_av %>,
				  });
				</script>
			    <p class="film_index-card-content"><%= film.title %></p>
			    <div class="film_index-card-content"><%= film.release %>年</div>
			</a>
			<div class="film_index-card-content">
			    <p>
			    	<% film.performer_list.each do |tag| %>
						<span class="badge badge-info">
							<%= link_to tag, films_path(tag_name: tag), class:"text-white"%>
						</span>
					<% end %>
			    </p>
			    <p>
			    	<% film.staff_list.each do |tag| %>
						<span class="badge badge-info">
							<%= link_to tag, films_path(tag_name: tag), class:"text-white"%>
						</span>
					<% end %>
			    </p>
			    <p>
			    	<% film.genre_list.each do |tag| %>
						<span class="badge badge-info">
							<%= link_to tag, films_path(tag_name: tag), class:"text-white"%>
						</span>
					<% end %>
			    </p>
			</div>
		</div>
		<script>
			$(function(){
			    $('.card').mouseover(function(){
			        $(this).addClass('card_fadecolor');
			    });
			    $('.card').mouseout(function(){
			        $(this).removeClass('card_fadecolor');
			    });
			});
		</script>
	<% end %>

</div>
