<br>
<div class="row">
	<div class="col-4">
		<div class="card-body text-center"><%= attachment_image_tag @film, :image, class: "item-index-jacket-image", fallback: "no_images.png", size: '300x450' %>
		</div>
		<div class="card-body text-center">
			<div class="btn-group">
				<!-- 観たい -->
				<% if @film.wished_by?(current_user) %>
				    <%= link_to film_wish_path(@film), method: :delete do %>
				      <button type="button" class="btn btn-xl btn-warning">
				      	観たい!<br>
				      	<span class="badge badge-dark"><%= @film.wishes.count %></span>
				      </button>
				    <% end %>
				<% else %>
				    <%= link_to film_wishes_path(@film), method: :post do %>
				      <button type="button" class="btn btn-xl btn-outline-warning">
				      	観たい!<br>
				      	<span class="badge badge-dark"><%= @film.wishes.count %></span>
				      </button>
				    <% end %>
				<% end %>
				<!-- 観た -->
				<% if @film.doned_by?(current_user) %>
				    <%= link_to film_done_path(@film), method: :delete do %>
				      <button type="button" class="btn btn-xl btn-warning">
				      	 観た! <br>
				      	<span class="badge badge-dark"><%= @film.dones.count %></span>
				      </button>
				    <% end %>
				<% else %>
				    <%= link_to film_dones_path(@film), method: :post do %>
				      <button type="button" class="btn btn-xl btn-outline-warning">
				      	 観た! <br>
				      	<span class="badge badge-dark"><%= @film.dones.count %></span>
				      </button>
				    <% end %>
				<% end %>
				<!-- マイベスト -->
				<% if @film.mybested_by?(current_user) %>
				    <%= link_to film_mybest_path(@film), method: :delete do %>
				      <button type="button" class="btn btn-xl btn-warning">
				      	MyBest!<br>
				      	<span class="badge badge-dark"><%= @film.mybests.count %></span>
				      </button>
				    <% end %>
				<% else %>
				    <%= link_to film_mybests_path(@film), method: :post do %>
				      <button type="button" class="btn btn-xl btn-outline-warning">
				      	MyBest!<br>
				      	<span class="badge badge-dark"><%= @film.mybests.count %></span>
				      </button>
				    <% end %>
				<% end %>
			</div>
		</div>
		<div class="card-body text-center">
			<%= link_to "レビューを投稿する",new_film_review_path(@film), class:"btn btn-secondary btn-block btn-lg" %>
		</div>
	</div>
	<div class="col-8">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title"><%= @film.title %></h4>
				<p class="card-text">公開年：<%= @film.release %> ／ 言語：<%= @film.language %> ／ 上映時間：<%= @film.time %>分</p>
				<div class="card">
					<p class="card-header">あらすじ</p>
					<p class="card-body">
						card は柔軟で拡張ができるコンテナです。headers や footers のオプション, 多様なコンテンツ, 背景色, 表示オプション が含まれています。Bootstrap3の panels, wells, thumbnails は card に置きかわります。これらのコンポーネントの機能は card のクラスとして利用できます。カードは少ないマークアップとスタイルで構築されていますが, 多くのカスタマイズが可能です。Flexboxで構築されているため, 簡単に配置ができ, 他のコンポーネントと組み合わせ可能です。 デフォルトでは margin の設定がないので, 必要に応じて spacing utilities を使用します。以下は,幅が固定されたカードの例です。カードには固定幅がないので, 親要素の幅に広がります。これは sizing options でカスタマイズ可能です。
					</p>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<ul class="list-group list-group-flush">
			        <li class="list-group-item">
			        	<p>出演者</p>
			        	<% @film.performer_list.each do |tag| %>
							<span class="badge badge-light border"><%= tag %></span>
						<% end %>
		        	</li>
		        	<li class="list-group-item">
		        		<p>制作</p>
			        	<% @film.staff_list.each do |tag| %>
							<span class="badge badge-secondary"><%= tag %></span>
						<% end %>
		        	</li>
		        	<li class="list-group-item">
		        		<p>ジャンル</p>
			        	<% @film.genre_list.each do |tag| %>
							<span class="badge badge-dark"><%= tag %></span>
						<% end %>
		        	</li>
	        	</ul>
			</div>
		</div>
	</div>
</div>

<!-- 平均スコアの算出 -->
<% starsum = 0 %>
<% @film.reviews.each do |review| %>
	<% review.star.to_i %>
	<% starsum += review.star.to_f %>
<% end %>
<% star_av = starsum.to_f / @film.reviews.count %>

<!-- スコアが無い場合の処理 -->
<% if star_av.to_f.nan? %>
	<% star_av = 0 %>
<% end %>

<br>
<div class="row">
	<div class="col">
	</div>
	<div class="col-10">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h5><%= @film.reviews.count %>件のユーザーレビュー</h5><br>
						<h5><div id="star_av_image">平均スコア：<%= star_av %>点</div></h5>
					</div>
<!-- 					<div class="col">
						<%= link_to "レビューを投稿する",new_film_review_path(@film), class:"btn btn-secondary btn-block btn-lg" %>
					</div> -->
				</div>
			</div>
			<% @film.reviews.each do |review| %>
				<div class="card-body">
					<p class="card-text"><%= link_to review.user.name , user_path(review.user_id) %></p>
					<h5 class="card-title"><%= review.title %></h5>
					<div id="star-rate-<%= review.id %>">評価：<%= review.star %>点</div>
						<script>
						  $('#star-rate-<%= review.id %>').raty({
						    size: 36,
						    starOff:  '<%= asset_path('star-off.png') %>',
						    starOn : '<%= asset_path('star-on.png') %>',
						    starHalf: '<%= asset_path('star-half.png') %>',
						    half: true,
						    readOnly: true,
						    score: <%= review.star %>,
						  });
						</script>
					<div class="card-body">
						<p class="card-text"><%= simple_format(review.body) %></p>
					</div>
					<% if review.user == current_user %>
						<%= link_to '編集', edit_film_review_path(review.film_id,review), class: "btn btn-light border border-seconday"%>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
	  						削除
						</button>
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        レビューを削除しますか？
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">
						        	やめる
						        </button>
						        <%= link_to '削除する', film_review_path(review), method: :delete, class: "btn btn-danger"%>
						      </div>
						    </div>
						  </div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col">
	</div>
</div>


<script>
  $('#star_av_image').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= star_av %>,
  });
</script>
