Admin
<h1>Films#edit</h1>

<%= form_with model: @film,, local: true, url: admin_film_path(@film) do |f| %>
<%#= form_for @film, url: admin_film_path(@film) do |f| %>

  	<div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>

    <div>
    <%= f.label :image %>
    <%= f.attachment_field :image %>
	</div>

    <div class="film-tags-field">
	<%= f.label :performer_list %>
    <%= f.text_field :performer_list, value: @film.performer_list.join(','), "data-role" => "tagsinput" %>
    </div>

    <div class="film-tags-field">
	<%= f.label :staff_list %>
    <%= f.text_field :staff_list, value: @film.staff_list.join(','), "data-role" => "tagsinput"  %>
    </div>

    <div class="film-tags-field">
	<%= f.label :genre_list %>
    <%= f.text_field :genre_list, value: @film.genre_list.join(','), "data-role" => "tagsinput"  %>
    </div>

    <div>
    <%= f.label :based %>
    <%= f.text_field :based %>
	</div>

	<div>
    <%= f.label :release %>
    <%= f.text_field :release %>
	</div>

	<div>
    <%= f.label :time %>
    <%= f.text_field :time %>
	</div>

	<div>
    <%= f.label :language %>
    <%= f.text_field :language %>
	</div>

    <div>
    <%= f.submit "更新", class: 'btn btn-primary'%>
	</div>
  </div>
<% end %>