<h1>レビューを投稿する</h1>
<p>Find me in app/views/reviews/new.html.erb</p>


<%= form_with model: @review, url: film_reviews_path do |f| %>


<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div>
<%= f.label :body %>
<%= f.text_field :body %>
</div>

<div class="field" id="star">
<%= f.label :star %>
<%= f.hidden_field :star, id: :review_star %>
</div>

<div>
<%= f.submit "作成", class: 'btn btn-primary'%>
</div>

<% end %>


<script>
$('#star').raty({
  size     : 70,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'review[star]',
  half: true,
});
</script>