<!DOCTYPE html>
<html>
  <head>
    <title>Fildig</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav>
          <% if admin_signed_in? %>
            <li class="nav-item">
                <%= link_to "LOG OUT", destroy_admin_session_path, method: :delete %>
            </li>

          <% elsif user_signed_in? %>
            <li class="nav-item">
                <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
            </li>

          <% else %>
            <li class="nav-item">
                <%= link_to "LOG IN", new_user_session_path, :class =>"fas fa-sign-in-alt" %>
            </li>
            <li class="nav-item">
                <%= link_to "SIGN UP", new_user_registration_path, :class =>"fas fa-user-plus" %>
            </li>

          <% end %>

        </nav>
      </div>
    </header>

    <%= yield %>
  </body>
</html>